<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <h1>VUE TO DO LIST</h1>
        <div class="input-container">
            
            <input type="text" v-model="newTodo" @keyup.enter="addTodo()" placeholder="Inserisci un nuovo Todo">
        
            <button @click="addTodo()">INSERISCI</button>
            
        </div>
        <div class="container">
           
            <ul>
                <li v-for="(todo, index) in todos" :class="todo.done == true ? 'todo-done-true' : 'todo-done-false'">
                    <span @click="doneStatus(index)">{{todo.text}}</span><i @click="deleteTodo(index)" class="fa-solid fa-trash"></i>
                </li>
            </ul>

        </div>

    </div>

    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>